<footer>
  <div class="footer-container">
      <div class="logo-container">
          <div class="logo">
              <img src="../../../assets/ssdc_embelem_small.png">
          </div>
          <div class="trademark">SSDC Trademark</div>
      </div>
      <div class="info-container">
          <div class="info">test</div>
          <div class="info">test</div>
          <div class="info">test</div>
      </div>
      <div class="nav-map-container">
          <div class="nav-map-link">test</div>
          <div class="nav-map-link">test</div>
          <div class="nav-map-link">test</div>
      </div>
  </div>
</footer>
