<nav class="navbar">
  <div class="navbar-container">
    <div class="nav-logo"></div>
    <div class="nav-burger" (click)="toggleNav()"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></div>
    <div class="large-links-container">
      <div *ngFor="let route of myRoutes" (mouseover)="toggleScrollable(route)" (mouseout)="toggleScrollable(route)" class="large-nav-link">
        <div class="vert-center">
          <div class="large-link-group">
            <a routerLink="/{{route.path}}" class="slide-center">{{route.data.name}}</a>
            <i [@rotate180]="route.data.showScrollables" *ngIf="route.data.scrollables?.length > 0" (click)="toggleScrollable(route)" class="fa fa-angle-down" aria-hidden="true"></i>
          </div>
        </div>
        <ul [@slideDown]="route.data.showScrollables" class="large-scrollables">
          <li *ngFor="let scrollable of route.data.scrollables" class="large-scrollable-item">
            <a class="slide-center" pageScroll [pageScrollOffset]="64" [pageScrollDuration]="200" routerLink="/{{route.path}}" href="{{scrollable.selector}}">{{scrollable.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="nav-links-container" [@dropDown]="navDropDown">
    <div class="nav-links">
      <div *ngFor="let route of myRoutes" class="nav-link">
        <a routerLink="/{{route.path}}" (click)="closeNav(true)">{{route.data.name}}</a>
        <i [@rotate180]="route.data.showScrollables" *ngIf="route.data.scrollables?.length > 0" (click)="toggleScrollable(route)" class="fa fa-angle-down" aria-hidden="true"></i>
        <ul [@slideDown]="route.data.showScrollables" class="scrollables">
          <li *ngFor="let scrollable of route.data.scrollables" class="scrollable-item">
            <a (click)="closeNav()" pageScroll [pageScrollOffset]="64" [pageScrollDuration]="200" [pageScrollInterruptible]="true" routerLink="/{{route.path}}" href="{{scrollable.selector}}">{{scrollable.name}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="social-media-container">
      <div class="social-media-icon">
        <a class="no-decorate" href="{{fbLink}}" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
      </div>
      <div class="social-media-icon">
        <a href="mailto:{{emailAddr}}"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</nav>
