<div id="contact-container">
    <div class="grid-mobile-auto">
        <div class="banner-container-small">
            <div class="banner-text-container">
                <div class="banner-title heading-font">Contact Us!</div>
            </div>
        </div>
        <form (ngSubmit)="submitEmail()" #emailForm="ngForm" class="email-form">
            <div class="heading heading-font">Send us an Email!</div>
            <div class="form-input-container">
                <md-form-field>
                    <input mdInput [(ngModel)]="emailObj.email" name="email" placeholder="Email">
                </md-form-field>
            </div>
            <div class="form-multiline-container">
                <md-form-field>
                    <textarea mdInput mdTextareaAutosize [(ngModel)]="emailObj.body" name="body" placeholder="Message"></textarea>
                </md-form-field>
            </div>
            <div class="form-checkbox-container">
                <md-checkbox [(ngModel)]="emailObj.enableListServ" name="listserv">Add me to listserve</md-checkbox>
            </div>
            <div class="form-submit-container">
                <button md-raised-button color="primary">Submit</button>
            </div>
        </form>
        <div class="info-container"></div>
        <div class="map-container"></div>
    </div>
</div>
