<div id="contact-container">
    <div class="banner-container-small">
        <div class="banner-text-container">
            <div class="banner-title heading-font">Contact Us!</div>
        </div>
    </div>
    <div class="grid-mobile-auto">
        <div id="info-container">
            <div class="center">
                <div class="heading heading-font">Our Information</div>
            </div>
            <div class="flex-center">
                <div class="info-box">
                    <div class="text-item">
                        Email Address: <a href="mailto:{{emailAddr}}">{{emailAddr}}</a>
                    </div>
                    <div class="text-item">
                        President Email: <a href="mailto:{{presEmailAddr}}">{{presEmailAddr}}</a>
                    </div>
                    <div class="text-item">Office: {{office}}</div>
                    <div class="text-item">
                        Next event: 
                        <a *ngIf="nextEvent != undefined" href="{{nextEvent.link}}" target="_blank">{{nextEvent.name}}</a>
                        <div class="inline" *ngIf="nextEvent == undefined">N/A</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="officers-container-sm">
            <div class="center">
                <div class="heading heading-font">Our Officers</div>
            </div>
            <div class="flex-center">
                <div class="officers-grid-sm">
                    <div class="officer" *ngFor="let officer of officers">
                        <div class="role">{{officer.role}}</div>
                        <div class="profile-picture-sm">
                            <img src="{{officer.pictureUrl}}">
                        </div>
                        <div class="name">{{officer.name}}</div>
                        <div class="email">
                            <a href="mailto:{{officer.email}}">{{officer.email}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form (ngSubmit)="submitEmail()" [formGroup]="emailForm" class="email-form" novalidate>
            <div class="heading heading-font">Send us an Email!</div>
            <div class="form-input-container">
                <mat-form-field>
                    <input matInput formControlName="email" placeholder="Email" required>
                    <mat-error *ngIf="emailForm.controls['email'].hasError('required')">This field is required</mat-error>
                    <mat-error *ngIf="emailForm.controls['email'].hasError('pattern') && !emailForm.controls['email'].hasError('required')">That is not a valid email</mat-error>
                </mat-form-field>
            </div>
            <div class="form-multiline-container">
                <mat-form-field>
                    <textarea matInput maxlength="{{bodyInputLength}}" formControlName="body" matTextareaAutosize placeholder="Message"></textarea>
                    <mat-hint align="end">{{emailForm.controls['body'].value.length}} / {{bodyInputLength}}</mat-hint>
                </mat-form-field>
            </div>
            <div class="form-checkbox-container">
                <mat-checkbox formControlName="listServ" ngControlDefault>Add me to listserv</mat-checkbox>
            </div>
            <div class="form-submit-container">
                <button *ngIf="!loading && !emailSuccess" class="submit-button" mat-raised-button color="primary" [disabled]="emailForm.invalid || emailSuccess">Submit</button>
                <div class="submit-status">
                    <mat-spinner *ngIf="loading"></mat-spinner>
                    <i *ngIf="emailSuccess" class="fa fa-check fa-3x" aria-hidden="true"></i>
                    <p *ngIf="emailSuccess">Email successfully sent!</p>
                    <i *ngIf="emailError && !loading" class="fa fa-times fa-3x" aria-hidden="true"></i>
                    <p *ngIf="emailError && !loading">Please try again.</p>
                </div>
            </div>
        </form>
        <div class="map-container"></div>
    </div>
</div>
