.officer {
  text-align: center;
}

.role {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.profile-picture {
  border-radius: 50%;
  overflow: hidden;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.profile-picture img {
  width: 100%;
  height: auto;
}

.officer-info {
  text-align: left;
  margin-left: 16px;
  margin-top: 8px;
}

.info {
  margin-bottom: 8px;
}

.email a {
  text-decoration: none;
  color: #F0B173;
}
