<div class="officers-container">
  <div class="center">
    <div id="officers-heading" class="heading heading-font">Meet the Officers</div>
  </div>
  <div class="flex-center">
    <div class="officers-grid-sm">
      <div class="officer" *ngFor="let officer of officers">
          <div class="role">{{officer.role}}</div>
          <div class="profile-picture-sm">
              <img src="{{officer.pictureUrl}}">
          </div>
          <div class="name">{{officer.name}}</div>
          <div class="email">
              <a href="mailto:{{officer.email}}">{{officer.email}}</a>
          </div>
      </div>
    </div>
  </div>
</div>
