<div id="gallery-container">
  <div class="banner-container-small">
    <div class="banner-text-container">
      <div class="banner-title heading-font">Gallery</div>
    </div>
  </div>
  <div class="content-container">
    <div class="albums-container" #albumsContainer scrollInfo (showRightArrow)="showRightArrow()" (hideRightArrow)="hideRightArrow()" (showLeftArrow)="showLeftArrow()" (hideLeftArrow)="hideLeftArrow()">
      <div *ngFor="let album of albums" class="album-name-container">
        <button mat-raised-button [ngClass]="{'buttonSelected':album.name === selectedAlbumName}" class="album-name" (click)="getAlbum(album)">{{album.name}}</button>
      </div>
      <button mat-fab color="#E8EAF6" (click)="scrollRight()" class="right-arrow-scroll" *ngIf="rightArrowVisible">
        <i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i>
      </button>
      <button mat-fab color="#E8EAF6" (click)="scrollLeft()" class="left-arrow-scroll" *ngIf="leftArrowVisible">
        <i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i>
      </button>
    </div>
    <app-gallery-grid [album]="selectedAlbum"></app-gallery-grid>
  </div>
</div>
