<div class="change-password-container">
    <form [formGroup]="changePasswordForm" novalidate>
        <div class="heading heading-font">Change Password</div>
        <div class="form-input-container">
            <mat-form-field>
                <input type="password" matInput formControlName="oldPassword" placeholder="Current Password" required>
                <mat-error *ngIf="changePasswordForm.controls['oldPassword'].hasError('required')">This field is required</mat-error>
            </mat-form-field>
        </div>
        <div class="form-input-container">
            <mat-form-field>
                <input type="password" matInput formControlName="firstPassword" placeholder="New Password" required>
                <mat-error *ngIf="changePasswordForm.controls['firstPassword'].hasError('required')">This field is required</mat-error>
            </mat-form-field>
        </div>
        <div class="form-input-container">
            <mat-form-field>
                <input type="password" matInput formControlName="secondPassword" placeholder="Retype New Password" required>
                <mat-error *ngIf="changePasswordForm.controls['secondPassword'].hasError('required')">This field is required</mat-error>
                <mat-error *ngIf="changePasswordForm.controls['secondPassword'].hasError('mismatch')">Passwords do not match</mat-error>
            </mat-form-field>
        </div>
        <button (click)="updatePassword()" mat-raised-button [disabled]="changePasswordForm.invalid">
            Submit
        </button>
    </form>
</div>