<div class="change-password-container">
    <form [formGroup]="changePasswordForm" novalidate>
        <div class="subheading heading-font">Change Password</div>
        <div class="form-container flex-center-vert">
            <div class="form-input-container">
                <mat-form-field class="full-width">
                    <input type="password" matInput formControlName="oldPassword" placeholder="Current Password" required>
                    <mat-error *ngIf="changePasswordForm.controls['oldPassword'].hasError('required')">This field is required</mat-error>
                </mat-form-field>
            </div>
            <div class="form-input-container">
                <mat-form-field class="full-width">
                    <input type="password" matInput formControlName="firstPassword" placeholder="New Password" required>
                    <mat-error *ngIf="changePasswordForm.controls['firstPassword'].hasError('required')">This field is required</mat-error>
                </mat-form-field>
            </div>
            <div class="form-input-container">
                <mat-form-field class="full-width">
                    <input type="password" matInput formControlName="secondPassword" placeholder="Retype New Password" required>
                    <mat-error *ngIf="changePasswordForm.controls['secondPassword'].hasError('required')">This field is required</mat-error>
                    <mat-error *ngIf="changePasswordForm.controls['secondPassword'].hasError('mismatch')">Passwords do not match</mat-error>
                </mat-form-field>
            </div>
            <button (click)="updatePassword()" mat-raised-button [disabled]="changePasswordForm.invalid">
                <div *ngIf="!loading && !changePasswordSuccess">Submit</div>
                <div class="flex-center">
                    <mat-spinner [diameter]="60" *ngIf="loading"></mat-spinner>
                </div>
            </button>
            <button (click)="dialogRef.close()" *ngIf="changePasswordSuccess" mat-raised-button>
                Close
            </button>
            <div class="status-message-container">
                <div *ngIf="changePasswordSuccess" class="status-message success-message">
                    Success
                </div>
                <div *ngIf="changePasswordSuccess == false" class="status-message fail-message" >
                    {{failMessage}}
                </div>
            </div>
        </div>
    </form>
</div>