.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.heading {
  display: inline-block;
  margin-bottom: 24px;
  margin-top: 16px;
  margin-left: 16px;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.subheading {
  display: inline-block;
  margin-bottom: 24px;
  margin-top: 16px;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.text-block {
  word-wrap: normal;
  margin-left: 16px;
  margin-right: 16px;
}

.underline-white {
  display: inline-block;
  border-bottom: 1px solid white;
}

.quote {
  font-style: italic;
}

.single-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide-center {
  position: relative;
  color: white;
  text-decoration: none;
}

.slide-center:hover {
  color: white;
}

.slide-center:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.slide-center-black {
  position: relative;
  color: black;
  text-decoration: none;
}

.slide-center-black:hover {
  color: black;
}

.slide-center-black:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.slide-center:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.slide-center-black:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.inline {
  display: inline-block;      
}

.hidden {
  display: none;
}

.file-upload-button {
  margin-bottom: 16px;
}

/* Banners */

.banner-container-small {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-text-container {
  margin-left: 16px;
  color: white;
}

.banner-title {
  font-size: 40px;
  font-weight: bold;
}

.center {
  text-align: center;
}

.white {
  background-color: white;
}

.text-item {
  margin: 8px;
}

.inline {
  display: inline;
}

.full-width {
  width: 100%;
}

/* Grid styles */

.grid-col-header-sm {
  margin-top: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid white;
}

.grid-mobile-auto {
  grid-template-columns: 1fr;
  justify-items: center;
}

/* Flex styles */

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-center-vert {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fill-space {
  display: flex;
  flex: 1 1 auto;
}

.inline-text {
  display: inline-block;
}

/* Fonts */

.heading-font {
  font-family: "Oswald", sans-serif;
  letter-spacing: 5px;
}

.fa-check {
  color: #5cb85c;
}

.fa-times {
  color: #d9534f;
}

/* Colors */

.black {
  color: black;
}

.black:hover {
  color: black;
}

/* Angular Material */

.nav-chip {
  margin: 24px;
  cursor: pointer !important;
}

.chip-text {
  margin-left: 8px;
}

.med-icon {
  font-size: 48px;
}

.flex-toolbar {
  display: flex;
  width: 100%;
}

mat-table {
  overflow: auto;
  max-height: 100%;
}

mat-checkbox {
  padding: 8px;
}

mat-dialog-container {
  z-index: 9999;
}

.table-title-container {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr;
}

.mat-column-select {
  overflow: visible;
}

/* message boxes */

.status-message {
  text-align: center;
}

.success-message {
  background-color: rgba(76,175,80, 0.3);
}

.fail-message {
  background-color: rgba(211,47,47, 0.3)
}
