.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.heading {
  display: inline-block;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.underline-white {
  display: inline-block;
  border-bottom: 1px solid white;
}

.quote {
  font-style: italic;
}

.single-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
