<div class="dashboard-container">
  <div class="table-container">
    <mat-table [dataSource]="usersDataSource">

      <!-- Username Column -->
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef>User</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.username}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let users; columns: columnsToDisplay"></mat-row>
    </mat-table>
  </div>
</div>
