<div class="add-officer-container">
    <form [formGroup]="officerForm" novalidate>
        <div class="form-header flex-center">
            <div *ngIf="addMode" class="subheading heading-font">Add Officer</div>
            <div *ngIf="!addMode" class="subheading heading-font">Update Officer</div>
            <div class="close-dialog-button">
                <button mat-mini-fab (click)="dialogRef.close()">
                    <i class="material-icons">close</i>
                </button>
            </div>
        </div>
        <div class="form-container flex-center-vert">
            <div class="form-input-container">
                <mat-form-field class="full-width">
                    <input type="text" matInput formControlName="firstName" placeholder="First name" required>
                    <mat-error *ngIf="officerForm.controls['firstName'].hasError('required')">This field is required</mat-error>
                    <mat-error *ngIf="officerForm.controls['firstName'].hasError('pattern') && !officerForm.controls['firstName'].hasError('required')">Letters only, please</mat-error>
                </mat-form-field>
            </div>
            <div class="form-input-container">
                <mat-form-field class="full-width">
                    <input type="text" matInput formControlName="lastName" placeholder="Last name" required>
                    <mat-error *ngIf="officerForm.controls['lastName'].hasError('required')">This field is required</mat-error>
                    <mat-error *ngIf="officerForm.controls['lastName'].hasError('pattern') && !officerForm.controls['lastName'].hasError('required')">Letters only, please</mat-error>
                </mat-form-field>
            </div>
            <div class="form-input-container">
                <mat-form-field class="full-width">
                    <input type="text" matInput formControlName="role" placeholder="Role" required>
                    <mat-error *ngIf="officerForm.controls['role'].hasError('required')">This field is required</mat-error>
                    <mat-error *ngIf="officerForm.controls['role'].hasError('pattern') && !officerForm.controls['role'].hasError('required')">Letters only, please</mat-error>
                </mat-form-field>
            </div>
            <div class="form-input-container">
                <mat-form-field class="full-width">
                    <input type="text" matInput formControlName="emailAddress" placeholder="Email Address" required>
                    <mat-error *ngIf="officerForm.controls['emailAddress'].hasError('required')">This field is required</mat-error>
                    <mat-error *ngIf="officerForm.controls['emailAddress'].hasError('pattern') && !officerForm.controls['emailAddress'].hasError('required')">Not a valid email address</mat-error>
                </mat-form-field>
            </div>
            <div class="form-input-container">
                <mat-form-field class="full-width">
                    <textarea matInput matTextareaAutosize formControlName="bio" placeholder="Bio"></textarea>
                    <mat-error *ngIf="officerForm.controls['bio'].hasError('pattern') && !officerForm.controls['bio'].hasError('required')">Letters only, please</mat-error>
                </mat-form-field>
            </div>
            <div class="form-input-container flex-center file-upload-button">
                <button class="flex-center" (click)="imgFileInput.click()" color="primary" mat-raised-button>
                    <i class="material-icons">photo</i>
                    <div class="inline">Attach Photo</div>
                </button>
                <input #imgFileInput type="file" class="hidden" (change)="handlePhotoUpload($event.target.files[0])">
            </div>
            <div class="flex-center">
                <div *ngIf="previewImageUrl" class="profile-preview">
                    <img #previewImage src="{{previewImageUrl}}" *ngIf="previewImageUrl" id="profile-preview-image">
                </div>
            </div>
            <button class="submit-button" *ngIf="!addOfficerSuccess" mat-raised-button (click)="addOfficer()" [disabled]="officerForm.invalid">
                <div *ngIf="!addingOfficer">Submit</div>
                <div *ngIf="addingOfficer" class="flex-center">
                    <mat-spinner [diameter]="60"></mat-spinner>
                </div>
            </button>
            <button mat-raised-button (click)="dialogRef.close()" *ngIf="addOfficerSuccess">
                Close
            </button>
            <app-status-message [success]="addOfficerSuccess" [failMessage]="addOfficerError"></app-status-message>
        </div>
    </form>
</div>