<div class="dashboard-container">
  <div class="table-container">
    <mat-card class="officer-table-card">
      <mat-card-header>
        <mat-card-title>
          <mat-toolbar class="table-title-container">
            <span>Officers</span>
            <span class="fill-space"></span>
            <div class="status-message-container">
            <app-status-message [success]="deleteSuccess" [failMessage]="deleteError"></app-status-message>
            </div>
            <span class="header-actions">
              <button *ngIf="!deleting" (click)="deleteSelectedOfficers()" mat-icon-button [disabled]="selectedRows.selected.length == 0">
                <i class="material-icons">delete</i>
              </button>
              <button mat-icon-button (click)="openOfficerDialog()">
                <i class="material-icons">add</i>
              </button>
              <mat-spinner [diameter]="60" *ngIf="deleting"></mat-spinner>
            </span>
          </mat-toolbar>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="flex-center spinner-container" *ngIf="officersDataSource.loading$ | async">
          <mat-spinner></mat-spinner>
        </div>
        <mat-table [dataSource]="officersDataSource">

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <div class="cell-container">
                  <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selectedRows.toggle(row) : null"
                    [checked]="selectedRows.isSelected(row)">
                  </mat-checkbox>
                  <button mat-icon-button (click)="openUpdateOfficerDialog(row)">
                    <i class="material-icons">mode_edit</i>
                  </button>
              </div>
            </mat-cell>
          </ng-container>

          <!-- Edit Button -->
          <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
            <mat-cell *matCellDef="let officer">
              <button mat-icon-button>
                <i class="material-icons">mode_edit</i>
              </button>
            </mat-cell>
          </ng-container>

          <!-- Photo Column -->
          <ng-container matColumnDef="photo">
            <mat-header-cell class="center md-font-size" *matHeaderCellDef>Photo</mat-header-cell>
            <mat-cell *matCellDef="let officer">
              <div class="profile-picture-small single-column-center">
                <img src="{{serverUrl}}/{{officer.photo.filename}}">
              </div>
            </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell class="center md-font-size" *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell class="center md-font-size" *matCellDef="let officer">
              {{officer.firstName}} {{officer.lastName}}
            </mat-cell>
          </ng-container>

          <!-- Role Column -->
          <ng-container matColumnDef="role">
            <mat-header-cell class="center md-font-size" *matHeaderCellDef>Role</mat-header-cell>
            <mat-cell class="center md-font-size" *matCellDef="let officer">
              {{officer.role}}
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
          <mat-row *matRowDef="let officers; columns: columnsToDisplay"></mat-row>

        </mat-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
