<div class="team-data-container">
  <form [formGroup]="teamForm" novalidate>
    <div class="form-header flex-center">
      <div *ngIf="addMode" class="subheading heading-font">Add Team</div>
      <div *ngIf="!addMode" class="subheading heading-font">Update Team</div>
      <div class="close-dialog-button">
          <button mat-mini-fab (click)="dialogRef.close()">
              <i class="material-icons">close</i>
          </button>
      </div>
    </div>
    <div class="form-container flex-center-vert">
      <div class="form-input-container">
        <mat-form-field class="full-width">
          <input type="text" matInput formControlName="name" placeholder="Team Name" required>
          <mat-error *ngIf="teamForm.controls['name'].hasError('required')">This field is required</mat-error>
          <mat-error *ngIf="teamForm.controls['name'].hasError('required') && teamForm.controls['name'].hasError('pattern')">Letters and numbers only please</mat-error>
        </mat-form-field>
      </div>
      <div class="form-input-container">
        <mat-form-field class="full-width">
          <textarea matInput matTextareaAutosize formControlName="overview" placeholder="Overview"></textarea>
          <mat-error *ngIf="teamForm.controls['overview'].hasError('required')">This field is required</mat-error>
          <mat-error *ngIf="teamForm.controls['overview'].hasError('required') && teamForm.controls['overview'].hasError('pattern')">Letters and numbers only please</mat-error>
        </mat-form-field>
      </div>
      <div class="form-input-container">
        <mat-form-field class="full-width">
          <textarea matInput matTextareaAutosize formControlName="goal" placeholder="Goal"></textarea>
          <mat-error *ngIf="teamForm.controls['goal'].hasError('required')">This field is required</mat-error>
          <mat-error *ngIf="teamForm.controls['goal'].hasError('required') && teamForm.controls['goal'].hasError('pattern')">Letters and numbers only please</mat-error>
        </mat-form-field>
      </div>
      <button class="submit-button" *ngIf="addMode && !saveSuccess" (click)="createTeam()" mat-raised-button [disabled]="teamForm.invalid">
          <div *ngIf="!savingTeam">Submit</div>
          <div *ngIf="savingTeam" class="flex-center">
              <mat-spinner [diameter]="60"></mat-spinner>
          </div>
      </button>
      <button class="submit-button" *ngIf="!addMode && !saveSuccess" (click)="updateTeam()" mat-raised-button [disabled]="teamForm.invalid">
          <div *ngIf="!savingTeam">Update</div>
          <div *ngIf="savingTeam" class="flex-center">
              <mat-spinner [diameter]="60"></mat-spinner>
          </div>
      </button>
      <button mat-raised-button (click)="dialogRef.close()" *ngIf="saveSuccess">
          Close
      </button>
      <app-status-message [success]="saveSuccess" [failMessage]="saveError"></app-status-message>
    </div>
  </form>
</div>
