<div id="teams-container">
  <div class="banner-container-small">
    <div class="banner-text-container">
      <div class="banner-title heading-font">{{name}}</div>
      <div class="banner-title heading-font" *ngIf="name == undefined">Design Teams</div>
    </div>
  </div>
  <div class="content-container">
    <div class="description-container">
      <div class="heading heading-font">What is a Design Team?</div>
      <div class="text-block">{{teamDescription}}</div>
    </div>
  </div>
</div>
