#dashboard-container {
    width: 100%;
    height: auto;
    min-height: 100%;
    background: linear-gradient(to right, #f0c27b, #4b1248);
    padding-bottom: 8px;
}

.controls-container {
    position: fixed;
    padding-top: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 1;
}

.control-arrow {
    grid-column-start: 2;
    grid-row-start: 1;
}

.controls-menu {
}

.control {
    grid-column-start: 1;
}

.control-button {
    width: 100%;
}

.dashboard {
    padding-top: 96px;
    padding-left: 8px;
    padding-right: 8px;
}

.dashboard-container {
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.dashboard-buttons-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.dashboard-button {
    text-decoration: none;
    margin: 8px;
}

.dashboard-button button {
    width: 100%;
    font-size: 24px;
    color: black;
}

.dashboard-link {
    text-decoration: none;
}

.header-actions {
}

.highlight {
    background-color: #b0b0b0;
}

.close-dialog-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
}

.cell-container {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 720px) {
    .cell-container {
        display: flex;
        flex-direction: row;
    }
}