<div id="dashboard-container">
    <div class="controls-container" [@slideIn]="controlsSlideIn">
        <div class="control">
            <button class="control-button" *ngFor="let dashboard of dashboards" mat-button mat-raised-button>
                <a [routerLink]="dashboard.path" class="dashboard-link">{{dashboard.path | titlecase}}</a>
            </button>
        </div>
        <div class="control-arrow">
            <i [@rotate180]="controlsSlideIn" class="med-icon material-icons" (click)="toggleControls()">keyboard_arrow_right</i>
        </div>
    </div>
    <div class="dashboard">
        <router-outlet></router-outlet>
    </div>
</div>
