<div id="dashboard-container">
    <div class="controls-container">
        <div class="control">
            <button mat-button mat-raised-button>Users</button>
        </div>
        <div class="control">
            <button mat-button mat-raised-button>Teams</button>
        </div>
        <div class="control">
            <button mat-button mat-raised-button>Officers</button>
        </div>
        <div class="control-arrow">
            <i class="material-icons">keyboard_arrow_right</i>
        </div>
    </div>
</div>
