#home-container {
  background: url("../../assets/background8.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-text-container {
  margin-left: 16px;
  color: white;
}

#banner-title {
  font-size: 40px;
  font-weight: bold;
}

#banner-message {
  font-size: 24px;
  font-style: italic;
}

.about-container {
  width: 100%;
  height: auto;
  text-align: left;
  margin-top: 24px;
  background-color: white;
}

#about-heading {
  margin-left: 16px;
}

#about-text {
  word-wrap: normal;
  margin-left: 16px;
  margin-right: 16px;
}
